@import "./resets";

$text-color: #222525;
$secondary-color: #333ba7;
$button-color: #4947a3;
$background-color: whitesmoke;

body {
  background: $background-color;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: $button-color;
}
#root {
  background-color: $background-color;
  min-height: 100vh;
  .navbar {
    background: $background-color;
    color: $text-color;
  }
}
.card {
  -webkit-box-shadow: 2px 5px 17px -1px #8d8d8da4;
  box-shadow: 2px 5px 17px -1px #8d8d8da1;
}
.btn-custom {
  background: $button-color;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.24rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-custom:hover {
  color: #fff;
  background-color: $secondary-color;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  width: 100vw;
  background-color: $background-color;
  opacity: 0.2;
  .footer-copyright a {
    text-decoration: none;
    color: $text-color;
  }
}

/* pulse animation */
.blob {
  border-radius: 50%;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
    transform: scale(0.95);
    color: rgb(44, 44, 44);
    background-color: rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
	}

	70% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
