$text-color: #222525;
$secondary-color: #333ba7;
$button-color: #4947a3;
$background-color: #f7f8fa;

.welcome ***REMOVED***
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .row ***REMOVED***
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .col ***REMOVED***
      .title ***REMOVED***
        font-weight: bold;
        color: $button-color;
        opacity: 0.6;
        font-size: 3rem;
     ***REMOVED***
      .sub ***REMOVED***
        margin-top: 3vh;
        font-size: 1rem;
     ***REMOVED***
      .btn ***REMOVED***
        margin-top: 5vh;
        padding: 0;
     ***REMOVED***
   ***REMOVED***
 ***REMOVED***
***REMOVED***
