$dark-blue: #222;
$action-color: #222;

.button ***REMOVED***
  -webkit-font-smoothing: antialiased;
  background-color: $dark-blue;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  min-width: 280px;
  padding: 13px 10px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;

  &:hover ***REMOVED***
    background-color: $action-color;
    color: #fff;
 ***REMOVED***

  &:active ***REMOVED***
    transform: scale(0.95);
 ***REMOVED***

  &--bubble ***REMOVED***
    position: relative;
    z-index: 2;
    color: white;
    background: none;

    &:hover ***REMOVED***
      background: none;
      text-decoration: none;
   ***REMOVED***

    &:hover + .button--bubble__effect-container .circle ***REMOVED***
      background: darken($action-color, 15%);
   ***REMOVED***

    &:hover + .button--bubble__effect-container .button ***REMOVED***
      background: darken($action-color, 15%);
   ***REMOVED***

    &:active + .button--bubble__effect-container ***REMOVED***
      transform: scale(0.95);
   ***REMOVED***

    &__container ***REMOVED***
      position: relative;
      display: inline-block;

      .effect-button ***REMOVED***
        position: absolute;
        width: 50%;
        height: 25%;
        top: 50%;
        left: 25%;
        z-index: 1;
        transform: translateY(-50%);
        background: $dark-blue;
        transition: background 0.1s ease-out;
     ***REMOVED***
   ***REMOVED***
 ***REMOVED***
***REMOVED***

.button--bubble__effect-container ***REMOVED***
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;

  .circle ***REMOVED***
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: $dark-blue;
    transition: background 0.1s ease-out;

    &.top-left ***REMOVED***
      top: 40%;
      left: 27%;
   ***REMOVED***

    &.bottom-right ***REMOVED***
      bottom: 40%;
      right: 27%;
   ***REMOVED***
 ***REMOVED***
***REMOVED***

.goo ***REMOVED***
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
***REMOVED***

.button--bubble__container ***REMOVED***
  top: 50%;
  margin-top: -25px;
***REMOVED***

@keyframes hue-rotate ***REMOVED***
  from ***REMOVED***
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
 ***REMOVED***
  to ***REMOVED***
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
 ***REMOVED***
***REMOVED***
