.centered ***REMOVED***
  display: flex;
  align-items: center;
***REMOVED***

.wrapper ***REMOVED***
  justify-content: center;
  align-items: center;
  height: 80vh;
***REMOVED***

.row ***REMOVED***
  margin-bottom: 2vh;
  margin-top: 4px;
***REMOVED***

small ***REMOVED***
  color: rgb(90, 90, 90);
***REMOVED***
