* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

button:focus {
  outline: none;
}

body {
  background: whitesmoke;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: red;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, red), color-stop(27%, #ff841f), to(#00d4ff));
  background: linear-gradient(0, red 0%, #ff841f 27%, #00d4ff 100%);
}

#root {
  background-color: whitesmoke;
  min-height: 100vh;
}

#root .navbar {
  background: whitesmoke;
  color: #222525;
}

.card {
  -webkit-box-shadow: 2px 5px 17px -1px #8d8d8da4;
  box-shadow: 2px 5px 17px -1px #8d8d8da1;
}

.btn-custom {
  background: #4947a3;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.24rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
 border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
 border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
 border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
 border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-custom:hover {
  color: #fff;
  background-color: #333ba7;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  width: 100vw;
  background-color: whitesmoke;
  opacity: 0.2;
}

footer .footer-copyright a {
  text-decoration: none;
  color: #222525;
}

/* pulse animation */
.blob {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    color: #2c2c2c;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    color: #2c2c2c;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */
