.centered {
  display: flex;
  align-items: center;
}

.wrapper {
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.row {
  margin-bottom: 2vh;
  margin-top: 4px;
}

small {
  color: rgb(90, 90, 90);
}
